<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:getPage('home')" class="navbar-brand">DotNet SPA</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:getPage('home')">Home</a></li>
                    <li><a href="javascript:getPage('home','SpaTest')">SpaTest</a></li>
                    <li><a href="javascript:getPage('home','About')">About</a></li>
                    <li><a href="javascript:getPage('home','Contact')">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content" >
    <div id="spaBody">
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>

    function buildMVCURL(controller, action, id) {
        if (controller == null) {
            return false;
        }
        var url = "/" + controller + "/";
        if (action != null) {
            url += action + "/";
        }
        if (id != null && action != null) {
            url += id + "/";
        }
        return url;
    }

    function getPage(controller, action, id) {
       var url = buildMVCURL(controller, action, id);
       var data = { Controller: controller, Action: action, ID: id };
       $("#spaBody").load(url);
       window.history.pushState(data, null, url);
       $(".navbar-collapse").collapse('hide');
    }

    window.addEventListener('popstate', function(e) {
        console.log(e);
        var url = buildMVCURL(e.state.Controller, e.state.Action, e.state.ID);
        $("#spaBody").load(url);
    });

</script>
</body>
</html>
