<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark" >
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">                    
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="javascript:getPage('home')" class="navbar-brand">DotNet SPA</a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav" mr-auto>
                    <li id="home" class="nav-item"><a href="javascript:getPage('home')" class="nav-link">Home</a></li>
                    <li id="SpaTest" class="nav-item"><a href="javascript:getPage('home','SpaTest')" class="nav-link">SpaTest</a></li>
                    <li id="About" class="nav-item"><a href="javascript:getPage('home','About')" class="nav-link">About</a></li>
                    <li id="Contact" class="nav-item"><a href="javascript:getPage('home','Contact')" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container body-content" >
    <div id="spaBody">
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>

    function buildMVCURL(controller, action, id) {
        //If there is no controller return false
        if (controller == null) {
            return false;
        }
        //Start URL string with /controller/
        var url = "/" + controller + "/";

        //If action is available add to URL /controller/action/
        if (action != null) {
            url += action + "/";
        }

        //Finally is id is available add it to URL string /controller/action/id/
        if (id != null && action != null) {
            url += id + "/";
        }

        //Return url string
        return url;
    }

    function updateNavBar(action) {
        //Remove active class from Nav Bar
        $(".nav").find(".active").removeClass("active");
        //Add active class to Nav Bar link by ID
        if (action != null) {
            $(".nav").find("#" + action).addClass("active");
        } else {
            $(".nav").find("#home").addClass("active");
        }
    }

    function getPage(controller, action, id) {
        //Build URL
       var url = buildMVCURL(controller, action, id);
        //Write parameters to data object for navigation history
       var data = { Controller: controller, Action: action, ID: id };
        //Load url into the DOM at ID #spaBody
       $("#spaBody").load(url);
        //Push History to address bar with data for history navigation
       window.history.pushState(data, null, url);
        //Collapse navbar in mobile view
       $(".navbar-collapse").collapse('hide');
        //Update Bootstrap Nav Bar state
        updateNavBar(action);
    }

    window.addEventListener('popstate', function(e) {
        //build URL from back button history state
        var url = buildMVCURL(e.state.Controller, e.state.Action, e.state.ID);
        //Load url into the DOM at ID #spaBody
        $("#spaBody").load(url);
        //Remove active class from Nav Bar
        $(".nav").find(".active").removeClass("active");
        //Update Bootstrap Nav Bar state
        updateNavBar(e.state.Action);
    });

</script>
</body>
</html>
